body{
    padding: 0;
    margin: 0;
}

.main{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
height: 600px;
width: 500px;
background-color:#c9f5fe;
border: solid 1.5px rgb(133, 131, 131);
border-radius: 20px;
box-shadow: 20px -18px 17px 4px rgba(2, 2, 0, 0.2);

}
.result{
    height: 100px;
    width: 450px;
    background-color: #fff;
    border: solid 4px rgb(188, 188, 235);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15%;
}
.header{
    display: inline-block;
    position: absolute;
    font-family: 'Zen Antique', serif;
    height: 75px;
    width: 100%;
    
    


}
p{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5%;
    font-size: 26px;
    color: rgb(233, 206, 88);
}

textarea{
    border: none;
    resize: none;
    outline: none;
    display: inline-block;
    width: 98.6%;
    height: 95px;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: right;
    
    
    

}
textarea:hover{
    border: none;
}

.buttons{
    display: grid;
    padding-top: 35px;
    margin: 30px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    text-align: center;

    
}
.aa{
    border: solid 1px rgb(133, 131, 131);
    border-radius: 8%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: rgb(211, 200, 200);
    color: blue;
}



.bb{
    border: solid 1px rgb(133, 131, 131);
    border-radius: 8%;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: rgb(211, 200, 200);
    color: blue;
}

.cc{
    border: solid 1px rgb(133, 131, 131);
    border-radius: 8%;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: rgb(211, 200, 200);
    color: blue;
} 

.dd{
    border: solid 1px rgb(133, 131, 131);
    border-radius: 8%;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: gray;
    color: white;
} 

.ff{
    border: solid 1px rgb(133, 131, 131);
    border-radius: 8%;
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: gray;
    color: white;
} 

.gg{
    border: solid 1px rgb(133, 131, 131);
    border-radius: 8%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: rgb(211, 200, 200);
    color: blue;
} 

.hh{
    border: solid 1px rgb(133, 131, 131);
    border-radius: 8%;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: rgb(211, 200, 200);
    color: blue;
} 

.tt{
    border: solid 1px rgb(133, 131, 131);
    border-radius: 8%;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: rgb(211, 200, 200);
    color: blue;
} 

.rr{
    border: solid 1px rgb(133, 131, 131);
    border-radius: 8%;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: gray;
    color: white;
} 

.kk{
    border: solid 1px rgb(133, 131, 131);
    border-radius: 8%;
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: gray;
    color: white;
} 

.ll{
    border: solid 1px rgb(133, 131, 131);
    border-radius: 8%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: rgb(211, 200, 200);
    color: blue;
} 

.uu{
    border: solid 1px rgb(133, 131, 131);
    border-radius: 8%;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: rgb(211, 200, 200);
    color: blue;
} 

.vv{
    border: solid 1px rgb(133, 131, 131);
    border-radius: 8%;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: rgb(211, 200, 200);
    color: blue;
}

.nn{
    border: solid 1px rgb(133, 131, 131);
    border-radius: 8%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    background-color: red;
    color: white;
}

.qq{
    border: solid 1px rgb(133, 131, 131);
    border-radius: 8%;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    background-color: rgb(211, 200, 200);
    color: blue;
}

.pp{
    border: solid 1px rgb(133, 131, 131);
    border-radius: 8%;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    background-color: gray;
    color: white;
} 

.buttonRAVNO{
    border: solid 1px rgb(133, 131, 131);
    border-radius: 8%;
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
    background-color: blue;
    color: white;
}

a{
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;

}

a:hover{
    text-decoration: none;
    
}
