body{
    /*padding: 20px;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size:100% ; */
    padding: 60px;
    background-image: linear-gradient(to right, rgba(255, 255, 0, 0.507) 10%, white 80% , blue);

}
p.test1{
background-image: radial-gradient(circle at 15% 50%, rgb(0, 255, 21),#111fff);
}