body{
    background: rgb(31, 157, 230); 
    padding: 0px 20px 20px 20px;
    margin: 0px;
}
article{
    max-width:4000px ;
    margin: 0 auto;
}
p{
    color: oldlace;
    font-size: 20px; 
    font-family: Dawning of a New Day;
}
h1,h2,h3{
    color: oldlace;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 2px solid white;
    padding-top: 12px;

}
#logo{ /*запись id через #*/
    font-family: Arial, Helvetica, sans-serif; /* шрифты, так же можно гугл шрифты подключить*/
    font-size: 2.1em; /* размер текста, так же определяется в em(1em 16px), px, % */
    color: rgba(255, 100, 50, 0.8); /*цветовая гамма*/
    font-style: italic; /* стиль тектса*/
    text-align: center; /* местоположение текста на странице*/
    margin-bottom: 26px; /* отступ снизу или в любой плоскости*/
    background: cornsilk; /* цвет заднего фона текста*/
    border-radius: 0px 0px 10px 10px; /* скругление углов рамок*/
    padding: 12px; /*отступ текста по всем фронтам*/
}
.note{ /*класс*/
    color:black ;
    border: 2px solid gray;/*линия.*/
    background: rgb(155, 240, 75);
    margin-top: 5x; /*внешние отступы*/ 
    margin-bottom: 5px;
    padding: 3px;
}