p{
   font-size: 1.2em;
  /*text-transform: uppercase;*/
  /*font-variant: small-caps;*/
  /*text-decoration: underline;*/
  letter-spacing: 2px; /* расстояние между символами*/
  word-spacing: 2px; /*расстояние между словами*/
  line-height: 30px; /*расстояние межу строк*/
  text-indent: 25px; /* отступы от краев*/

}
a :hover {   /*hover active links*/
    text-decoration: underline;
}
a {
    text-decoration: none;
}
h1,h2,h3{
    text-shadow: 0px 2px 4px royalblue;
    text-align: center; /*выравнивание текста*/
}
ol{
    list-style-type: upper-roman;
    /*list-style-image: url(audi.jpg); картинки для списка, вместо нумерации или ...*/
}